div.table_contents {
  background-color: rgb(206, 160, 104);
  margin: 1em;
  padding: 1em;
  float: right;
  right: 0px;
  height: 50%;
}

div.table_contents li {
  font-size: 18pt;
  color: white;
}

div.table_contents a {
  color: white;
}

*.div_tip {

}
*.div_tip div.tip_img {
  float: left;
  clear: left;
  margin: 1em;

}
*.div_tip div.tip_content {
  float: left;
  margin: 1em;
  width: 50%;
}

span.order {
  width: 24px;
  height: 24px;
  background-color: rgb(121, 187, 118);
  color: rgb(170, 127, 168);
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  font-size: 16pt;
  padding: 0.5em;
  margin-right: 0.5em;
}

@media screen and (max-width: 1400px) {

    p {
      font-size: 18pt;
    }

    h1 {
      font-size: 24pt;
    }

    *.div_tip div.tip_content {
      clear: left;
      width: 90%;
    }

  }

@media screen and (max-width: 700px) {

  div.table_contents {
    width: 90%;
    float: none;
  }

}
