#div_time {
  /* float: left; */
  clear: none;
  position: absolute;
  top: 9em;
  left: 2.5em;
}

#div_time h2 span {
  font-size: 10pt;
  font-weight: normal;
}

#div_time img {
  width: 3em;
  float: left;
  margin-top: 1em;
}

#div_time h2 {
  font-size: 20pt;
  font-weight: bolder;
  float: left;
}

#div_submit_display {
  background-color: rgb(134, 190, 131);
  width: 90%;
  margin: 30px auto;
  overflow-y: auto;
  height: 400px;
  display: grid;
  grid-template-columns: auto auto auto;
}

#div_submit_display p {
  background-color: white;
  margin:  1em;
  padding: 1em;
}

#div_input {
  background-color: rgb(134, 190, 131);;
  margin: 0px auto;
  width: 90%;
  padding: 1em;
}

#div_input textarea {
  padding-left: 1em;
  width: 80%;
  height: 8em;
  resize: none;
}

#div_input input {
  float: right;
  width: 15%;
  height: 8em;
}

#enter_button{
  background-color: rgb(255, 189, 136);
  margin:0;

}
