@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

.pagewrap{
  width: 100%;
  height: 52em;
  background-color: rgb(134, 190, 131);
  min-width: 990px;
  back
}
/* div_left_wrap */
.div_left_wrap {
  float: left;
  width: 60%;
  height: 50em;;
  background-color: rgb(255, 255, 255);
  border: 1em solid rgb(134, 190, 131);
  border-radius: 30px;
}

/* left wrapper container */
#div_left_containers {
  display: block;
  width: 90%;
  height: 50em;
  margin: 0 auto;
}

/* img logo */
#logo {
  width: 100%;
  height: auto;
  margin-top: 5em;
  float: left;
}

/* 1h brainsprint */
#brainsprint {
  width: 100%;
  font-size: 5em;
  float: left;
  text-align: center;
  margin-top: 0;
  /* background-color: rgb(237, 159, 217); */
  /* clear: right; */
}

/* ----------------------------------------------------------------------- */

.div_right_warp{
 float: left;
 width: 35%;
 height: 50em;
 background-color:rgb(134, 190, 131);
 border: 1em solid rgb(134, 190, 131);
border-left: none;
}

#firebaseui-auth-container{
  margin-top: 10em;
}

#login_note{
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  padding: 1em;
  font-size: .7em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 1em;
}
